// General configuration used in all profiles
manifest {
  description = 'LRGASP Isoform detection and quantification Benchmark Workflow'
  author =
  nextflowVersion = '>=19.10.0'
  version = '1.0.1'
}

// Profiles configure nextflow depending on the environment (local, integration, live, etc.)

profiles {

	  docker {
      process {
          withName: validation{
            container = "lrgaspdocker/validation_challenge_1:v1.0.1"
          }
      }
      process {
          withName: compute_metrics{
            container = "lrgaspdocker/metrics_challenge_1:v1.0.1"
          }
      }
      process {
          withName: benchmark_consolidation{
            container = "lrgaspdocker/consolidation_challenge_1:v1.0.1"
          }
      }
      
      docker.enabled = true
      docker.mountFlags = "rw,Z"
      // set time zone for running docker containers
      docker.runOptions = '--user \$(id -u):\$(id -g) -e TZ="\$([ -z \\"\$TZ\\"] && cat /etc/timezone || echo \\"\$TZ\\")"'
    
  }
}

// default parameter values

params  {

  // input_directory
  input = "$baseDir/lrgasp_data/input_data/"

  // reference file dir to validate input data
  public_ref_dir = "$baseDir/lrgasp_data/public_ref"

  // name of the tool used for the predictions
  participant_id = "kraak"

  // directory where the 'gold standards' are found
  goldstandard_dir = "$baseDir/lrgasp_data/goldstandard_dir"

  // Challenges ids
  challenges_ids  = "iso_detect_ref_ES_cdna_pacbio_ls"


  assess_dir = "$baseDir/lrgasp_data/data"
  augmented_assess_dir = "$baseDir/lrgasp_data/augmented_data"

  //Name or Community ID
  community_id = "OEBC010"


  // directories where results will be written
  validation_result = "sample_out/participant_out/validated-participant-data.json"
  assessment_results = "sample_out/assessment_out/Assessment_datasets.json"
  outdir = "sample_out/results"
  statsdir = "sample_out/stats"
  outdir = "sample_out/results"
  data_model_export_dir = "sample_out/benchmarking_data_model_export/Participant_assessments.json"
  otherdir = "sample_out/other"

}

// By default output execution reports
timeline {
  enabled = true
  file = "${params.statsdir}/timeline.html"
}
report {
  enabled = true
  file = "${params.statsdir}/report.html"
}
trace {
  enabled = true
  file = "${params.statsdir}/trace.txt"
}
dag {
  enabled = true
  file = "${params.statsdir}/DAG.dot"
}
